.background{
    background-image: url("BackgroundImage/black-and-white-close-up-cubes-1591062.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    margin-top: 150px; 
    text-align: center;
    color: aliceblue;
  }