.background{
    background-image: url("../Images/BackgroundImage/workspace2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    margin-top: 150px; 
    text-align: center;
    color: aliceblue;
}